*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 960px;
    margin: auto;
    display: grid;
    place-items: center;
}
h1{
    margin-top: 20px;
}

form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input[type="text"],input[type="email"]{
    border: 2px solid black;
    margin-bottom: .4rem;
    padding: .3rem;
    border-radius: 7px;
    background-color:rgb(3, 255, 255);
    font-size: 15px;
    font-weight: bold;
}
#btn{
    margin: 1rem auto;
    display: flex;
	border: solid  4px;
	padding: 7px 10px;
	text-align: center;
	border-radius: 10px;
	font-size: medium;
	font-family:"Ubuntu",Verdana, Geneva, Tahoma, sans-serif;
	border-color: rgb(6, 6, 6);
	color: rgb(0, 0, 0);
	font-weight: bold;
    background-color: rgb(3, 255, 255);
}
#btn:hover{
    background-color:rgb(193, 41, 41);
	color: rgb(3, 255, 255);
	font-weight: bold;
}